<nav class="white" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="#" class="brand-logo">CoderDojo 明石</a>
    <ul class="right hide-on-med-and-down">
      <li><a routerLink="/about">CoderDojo明石について</a></li>
      <li><a routerLink="/activity">活動報告</a></li>
      <li><a routerLink="/account">会計報告</a></li>
      <li><a routerLink="/contact">コンタクト</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a routerLink="/about">CoderDojo明石について</a></li>
      <li><a routerLink="/activity">活動報告</a></li>
      <li><a routerLink="/account">会計報告</a></li>
      <li><a routerLink="/contact">コンタクト</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse">
      <i class="material-icons">menu</i>
    </a>
  </div>
</nav>