    </div> 
  </div>
  <div class="mdl-layout-spacer"></div>

  <footer class="mdl-mini-footer">
    <div class="coderdojo-akashi-max-width">
    <div class="mdl-mini-footer__left-section">
      <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored" onClick="location.href='https://www.facebook.com/CoderDojo-明石-139582193048936/'">
        <i class="fa fa-facebook social-logo" aria-hidden="true"></i>
      </button>

      <div class="mdl-logo">© 2015 CoderDojo Akashi</div>
    </div>
    </div>
  </footer>
</main>