    </div> 
  </div>
  <div class="mdl-layout-spacer"></div>

  <footer class="mdl-mega-footer">
    <div class="mdl-mega-footer__middle-section">
      <div class="fb-page" data-href="https://www.facebook.com/CoderDojo-%E6%98%8E%E7%9F%B3-139582193048936/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/CoderDojo-%E6%98%8E%E7%9F%B3-139582193048936/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/CoderDojo-%E6%98%8E%E7%9F%B3-139582193048936/">CoderDojo 明石</a></blockquote></div>

  </div>

  <div class="mdl-mega-footer__bottom-section">
    <div class="mdl-logo">© 2016 CoderDojo 明石</div>
  </div>

</footer>

</main
