    </div> 
  </div>
  <div class="mdl-layout-spacer"></div>

  <footer class="mdl-mini-footer">
      <div class="mdl-mini-footer__left-section" style="margin-left: 20%;">
        <div class="mdl-logo">© 2015 CoderDojo Akashi</div>
      </div>

      <div class="mdl-mini-footer__right-section" style="margin-right: 20%;">
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored mdl-js-ripple-effect mdl-shadow--4dp" onClick="location.href='https://www.facebook.com/CoderDojo-明石-139582193048936/'" style="margin-left: auto;">
        <i class="fa fa-facebook social-logo" aria-hidden="true"></i>
      </button>
      </div>
  </footer>
</main>
