<head>
<meta charset="UTF-8">
<meta name="description" content="CoderDojo 明石のWebサイト">
<meta name="keywords" content="CoderDojo Akashi, CoderDojo 明石">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
<meta property="og:title" content="CoderDojo 明石" />
<meta property="og:type" content="website" />
<meta property="og:image" content="https://coderdojo-akashi.github.io/images/CoderDojoAkashi_logo.png" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="" />
<meta name="twitter:title" content="CoderDojo 明石" />
<meta name="twitter:description" content="COderDojo 明石のWebサイト" />
<meta name="twitter:image" content="https://coderdojo-akashi.github.io/images/CoderDojoAkashi_logo.png" />

<title>CoderDojo 明石</title>

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.blue-indigo.min.css">
<link rel="stylesheet" href="./css/font-awesome.min.css">
<link rel="stylesheet" href="./css/style.css">
<script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
</head>
