<header class="mdl-layout__header">
    <div class="mdl-layout__header-row mdl-js-ripple-effect">
        <!-- Title -->
        <span class="mdl-layout-title">CoderDojo明石</span>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation. We hide it in small screens. -->
        <nav class="mdl-navigation mdl-layout--large-screen-only">
            <a class="mdl-navigation__link is-active" href="index.html">トップ</a>
            <a class="mdl-navigation__link" href="activity.html">活動</a>
            <a class="mdl-navigation__link" href="contact.html">お問い合わせ</a>
            <a class="mdl-navigation__link" href="donation.html">会計報告</a>
        </nav>
    </div>
    </header>
    <div class="mdl-layout__drawer ">
        <span class="mdl-layout-title">CoderDojo明石</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="index.html">トップ</a>
            <a class="mdl-navigation__link" href="activity.html">活動</a>
            <a class="mdl-navigation__link" href="contact.html">お問い合わせ</a>
            <a class="mdl-navigation__link" href="donation.html">会計報告</a>
        </nav>
    </div>
</header>
