<!DOCTYPE html>
<html lang="ja">
    <% include templates/_head %>
    <body>
        <% include templates/_begin_body %>
        <% include templates/_header %>
        <% include templates/_begin_contents %>

        <!-- your code -->
        <h3>活動</h3>
       
        
       CoderDojo明石では、現在以下のようなことを忍者に教えています。        
       <ul>
            <li>Scratch</li>
            <li>HTML/CSS/Javascriptを用いたWebページ作成</li>
            <li>Arduino+電子工作</li>              
       </ul>
        <% include templates/_end_contents %>
        <% include templates/_end_body %>
   </body>
</html>
