<!DOCTYPE html>
<html lang="ja">
    <% include templates/_head %>
    <body>
        <% include templates/_begin_body %>
        <% include templates/_header %>
        <% include templates/_begin_contents %>

        <!-- your code -->
        <h3>活動</h3>

        <p>CoderDojo 明石では、現在以下のようなことを忍者に教えています。</p>
        <ul>
            <li>Scratch</li>
            <li>HTML/CSS/Javascriptを用いたWebページ作成</li>
            <li>Arduino+電子工作</li>
        </ul>

        <p>
            初めての来られる方には、ScratchやBlocklyを触ってもらっています。
            しかし、ScratchやBlocklyの記述能力では、やりたいことを表現できないことが多いです。
            ですので、そこからはWebページ作成や電子工作等の忍者がやりたいことをメンターがサポートする、という形をとっています。
        </p>

        <h4>Scratchについて</h4>

        <p>
            ScratchはMITメディアラボが開発した，プログラミング言語学習環境です。
            ソースコードを書く必要は無く、ブロックを組み合わせるだけでプログラミングの基本となる構造を学ぶことが出来ます。
        </p>

        <img class="coderdojo-akashi-img" src="./images/Scratch_1.4_Initial_Screen.png" width="100%">

        <h4>Webページ作成について</h4>

        <p>
            HTMLやcss、 JavaScriptのサポートをしています。
        </p>

        <h4>Arduinoを用いた電子工作について</h4>

        <p>
            Arduinoはマイコンと入出力ポートを備えた基盤です。
            IDEが提供されており、開発環境が整っています。
            電子工作の入門に適しています。
        </p>

        <% include templates/_end_contents %>
        <% include templates/_end_body %>
    </body>
</html>
