<!DOCTYPE html>
<html lang="ja">
    <% include templates/_head %>
    <body>
        <% include templates/_begin_body %>
        <% include templates/_header %>
        <% include templates/_begin_contents %>

            <!-- your code -->
            <h3>お問い合わせ</h3>

            <!-- Numeric Textfield -->
            <form action="#" style="">
                <div class="mdl-textfield mdl-js-textfield" style="width: 500px;">
                    <input class="mdl-textfield__input" type="text">
                    <label class="mdl-textfield__label" for="">メールアドレス</label>
                </div>
               
               <br/> 
               
               <div class="mdl-textfield mdl-js-textfield" style="width: 500px;">
                   <textarea class="mdl-textfield__input" type="text" rows= "5" id=""></textarea>
                   <label class="mdl-textfield__label" for="text7">要件</label>
               </div>
                
               <br/>
                
               <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored  mdl-js-ripple-effect">
               送信
               </button> 
            </form>

        <% include templates/_end_contents %>
        <% include templates/_end_body %>
    </body>
</html>
