<!DOCTYPE html>
<html lang="ja">
    <% include templates/_head %>
    <body>
        <% include templates/_begin_body %>
        <% include templates/_header %>
        <% include templates/_begin_contents %>

            <!-- your code -->
            <h3>お問い合わせ</h3>

            <p>
                以下のメールアドレスに件名・用件を記入して、お問い合わせください。
            </p>

            <!-- Numeric Textfield -->
            <address class="gmail">coderdojo.akashi</address>

        <% include templates/_end_contents %>
        <% include templates/_end_body %>
    </body>
</html>
