<!DOCTYPE html>
<html lang="ja">
    <% include templates/_head %>
    <body>
        <% include templates/_begin_body %>
        <% include templates/_header %>
        <% include templates/_begin_contents %>

        <!-- your code -->
        <h2>お問い合わせ</h2>
        
        <% include templates/_end_contents %>
        <% include templates/_end_body %>
   </body>
</html>
