<!DOCTYPE html>
<html lang="ja">
    <% include templates/_head %>
    <body>
        <% include templates/_begin_body %>
        <% include templates/_header %>
        <% include templates/_begin_contents %>

        <!-- your code -->
        <h3>会計報告</h3>

        <iframe src="https://docs.google.com/spreadsheets/d/1eatOr738MnYJLLFN5Lhs-p-g2-uHvhv0z58t0_Yjlg0/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false" height="600" width="100%" scrolling="no"></iframe>

        <% include templates/_end_contents %>
        <% include templates/_end_body %>
    </body>
</html>
