<!DOCTYPE html>
<html lang="ja">
    <% include templates/_head %>
    <body>
        <% include templates/_begin_body %>
        <% include templates/_header %>
        <% include templates/_begin_contents %>

        <!-- your code -->
        <div class="mdl-glid">
        <h3>イベント</h3>
        </div>
        
        <% include templates/_end_contents %>
        <% include templates/_end_body %>
   </body>
</html>
