<!DOCTYPE html>
<html lang="ja">
    <% include templates/_head %>
    <body>
        <% include templates/_begin_body %>
        <% include templates/_header %>


        <main class="mdl-layout__content">
            <div class="mdl-color--blue-800 mdl-color-text--white">
                <div class="mdl-grid">
                    <div class="mdl-layout-spacer"></div>
                    <div class="mdl-cell mdl-cell--6-col">
                        <h4 style="text-align: center;">CoderDojo明石では、子供達にプログラミングを学習する場を提供しています</h4>
                    </div>
                   <div class="mdl-layout-spacer"></div>
                </div>
            </div>

            <div class="mdl-color--white mdl-color-text--grey-800">
                <div class="mdl-grid">
                    <div class="mdl-layout-spacer"></div>
                    <div class="mdl-cell mdl-cell--6-col">
                        <h2>CoderDojo 明石とは？</h2>
                        <p>
                            CoderDojoは7歳から17歳のこどもを対象にしたプログラミング道場です。
                            世界では1000近くのCoderDojoが運営されており、日本でも50のDojoが存在します。
                            Dojoでの取り組みは地域によって様々ですが、CoderDojoの理念に沿って運営されています。
                        </p>
                        <p>
                            CoderDojo明石は、子供たちにプログラミングでオリジナルなものを作る喜びを知ってもらうために、明石近辺のエンジニア・学生があつまり子供たちのお手伝いをする場を提供しています。
                            CoderDojo明石では、Dojoでプログラミングを楽しむ子供たちのことを「<b>忍者</b>」、忍者のサポートをする人を「<b>メンター</b>」と呼びます。
                        </p>
                    </div>
                   <div class="mdl-layout-spacer"></div>
                </div>
            </div>

            <div class="mdl-color--brown-50 mdl-color-text--grey-800">
                <div class="mdl-grid">
                    <div class="mdl-layout-spacer"></div>
                    <div class="mdl-cell mdl-cell--6-col">
                        <h2>できること</h2>
                        <div class="mdl-grid coderdojo-akashi-img">
                            <div class="mdl-cell mdl-cell--4-col">
                                <a href="https://scratch.mit.edu/" target="_blank">
                                    <img class="coderdojo-akashi-img-item" src="./images/Scratchcat.svg"></img>
                                </a>
                            </div>
                            <div class="mdl-cell mdl-cell--4-col">
                                <img class="coderdojo-akashi-img-item" src="./images/Arduino_Logo.svg"></img>
                            </div>
                            <div class="mdl-cell mdl-cell--4-col">
                                <img class="coderdojo-akashi-img-item" src="./images/HTML5_Badge.svg"></img>
                            </div>
                        </div>
                        <p>
                            CoderDojo明石では主にScratch、Arduinoと電子工作、Web制作をサポートしています。
                            ですが、子供たちが希望するものはできるだけ実現できるように対応しています。
                        </p>

                        <p style="text-align: right;">
                            <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="./activity.html">詳細</a>
                        </p>
                    </div>
                   <div class="mdl-layout-spacer"></div>
                </div>
            </div>

            <div class="mdl-color--white mdl-color-text--grey-800">
                <div class="mdl-grid">
                    <div class="mdl-layout-spacer"></div>
                    <div class="mdl-cell mdl-cell--6-col">
                        <h2>雰囲気</h2>
                        <p>
                            CoderDojo明石ではメンターと忍者が入り乱れて、一緒にプログラミングします。
                            忍者たちは自分のやりたいことを考えてメンターと相談しながら、1つのオリジナルな作品にを仕上げていきます。
                            もちろん、Dojoは学校ではないので、隣の友達と相談したり、息抜きをしながらすすめても構いません。
                        </p>

                        <p>
                            また，活動の様子はFacebookにも投稿しています。
                        </p>

                        <p style="text-align: right;">
                            <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="https://www.facebook.com/CoderDojo-明石-139582193048936/">Facebook</a>
                        </p>
                    </div>
                   <div class="mdl-layout-spacer"></div>
                </div>
            </div>

            <div class="mdl-color--brown-50 mdl-color-text--grey-800">
                <div class="mdl-grid">
                    <div class="mdl-layout-spacer"></div>
                    <div class="mdl-cell mdl-cell--6-col">
                        <h2>忍者の申し込み</h2>
                       
                        <p>
                            プログラミングに興味のある子ども達がいれば是非ご参加ください。
                        </p>

                        <p>
                            参加登録はconnpassからどうぞ
                        </p>

                        <p style="text-align: right;">
                            <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="http://coderdojo-akashi.connpass.com/">Connpass</a>
                        </p>
                    </div>
                   <div class="mdl-layout-spacer"></div>
                </div>
            </div>

            <div class="mdl-color--white mdl-color-text--grey-800">
                <div class="mdl-grid">
                    <div class="mdl-layout-spacer"></div>
                    <div class="mdl-cell mdl-cell--6-col">
                        <h2>メンターの申し込み</h2>
                        <p>
                            忍者に対するメンターの数が毎回足りていないため，CoderDojo明石では<b>常に</b>メンターを募集しています。
                            少しでも興味を持っていただけたのであれば，是非一度お越しください．
                        </p>

                        <p>
                            参加登録はconnpassからどうぞ
                        </p>

                        <p style="text-align: right;">
                            <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="http://coderdojo-akashi.connpass.com/">Connpass</a>
                        </p>

                    </div>
                   <div class="mdl-layout-spacer"></div>
                </div>
            </div>

            <div class="page-content mdl-color--white">
                <div class="mdl-grid">
                    <div class="mdl-layout-spacer"></div>
                    <div class="mdl-cell mdl-cell--6-col mdl-grid"></div>
                    <div class="mdl-layout-spacer"></div>
                </div>

            <% include templates/_footer %>
            </main>
        <% include templates/_end_body %>
   </body>
</html>
