<!DOCTYPE html>
<html lang="ja">
    <% include templates/_head %>
    <body>
        <% include templates/_begin_body %>
        <% include templates/_header %>
        <% include templates/_begin_contents %>
        
            <div class="mdl-grid">
                <div class="mdl-cell mdl-card mdl-shadow--4dp">
                    <div class="mdl-card__media">
                    </div>
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">CoderDojoとは?</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        詳細
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="https://coderdojo.com/">CoderDojoホームページへ</a>
                    </div>
                </div>
                
                <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
                    <div class="mdl-card__media">
                    </div>
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">CoderDojo明石</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        詳細
                    </div>
                </div>
                
                <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
                    <div class="mdl-card__media">
                    </div>
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Dojoでできるコト</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        詳細
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="activity.html">Read more</a>
                    </div>
                </div>
                <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
                    <div class="mdl-card__media">
                    </div>
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">どんな雰囲気？</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        詳細
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="https://www.facebook.com/CoderDojo-明石-139582193048936">facebookページへ</a>
                    </div>
                </div>
                <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
                    <div class="mdl-card__media">
                    </div>
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">忍者として参加したい！</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        詳細
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="http://coderdojo-akashi.connpass.com/">申し込みサイトへ</a>
                    </div>
                </div>
                <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
                    <div class="mdl-card__media">
                    </div>
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">メンターとして参加したい！</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        詳細
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="http://coderdojo-akashi.connpass.com/">申し込みサイトへ</a>
                    </div>
                </div>
                <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
                    <div class="mdl-card__media">
                    </div>
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">お問い合わせ</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        詳細
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="contact.html">お問い合わせフォームへ</a>
                    </div>
                </div>
                <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
                    <div class="mdl-card__media">
                    </div>
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">寄付金の会計報告</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        詳細
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="donation.html">Read more</a>
                    </div>
                </div>
            </div>
        
        <% include templates/_end_contents %>
        <% include templates/_end_body %>
   </body>
</html>
