<!DOCTYPE html>
<html lang="ja">
<% include templates/_head %>
<body>
  <section id="all">
    <% include templates/_header %>
    <% include templates/_contents %>
  </section>
  <script src="script.js"></script>
</body>
</html>
