<!DOCTYPE html>
<html lang="ja">
    <% include templates/_head %>
    <body>
        <% include templates/_begin_body %>
        <% include templates/_header %>
        <% include templates/_begin_contents %>

        <p> ok </p>
        <h2>h2</h2>
        <h3>h3</h3>
        <h1>h1</h1>
        <h1>h1</h1>
        <h1>h1</h1>
        <h1>h1</h1>
        <h1>h1</h1>
        <h1>h1</h1>
        <h1>h1</h1>
        <h1>h1</h1>
        <h1>h1</h1>
        <h1>h1</h1>
        <h1>h1</h1>

        <% include templates/_end_contents %>
   </body>
</html>